.formAdminContainer {
    background-color: #2d9486;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.formAdminContainer form {
    width: 85%;
}

.LogoNytte {
    width: 71%;
    margin-top: 5%;
}

.form-login-admin {

    display: flex;

}

.form-login-admin input {
    border: none;
    background: none;
    text-align: right;
    color: white;
    margin-top: 8%;
    outline: none;
    font-size: 1.1em;

}

.inputForm {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-login-admin label {
    font-size: 18px;
    margin-left: 2%;
    margin-top: 4%;
    padding-top: 1%;
    border: none;
    font-weight: 448;
    text-shadow: #ffffff28 1px 1px 0, 0px 0px 9px rgba(155, 155, 155, 0);
}

.inputForm input {
    background: none;
    border: none;
    color: white;
    font-size: 1.9em;
    margin-top: 20%;
    font-weight: 448;
    text-shadow: #ffffff5e 1px 1px 0, 0px 0px 9px rgba(255, 255, 255, 0.219);


}

.divHR {
    height: 0.15em;
    background-color: rgba(211, 211, 211, 0.644);
}

.haveMystake {
    font-size: 14px;
    text-decoration: underline;
    width: 80%;
    text-align: center;
    margin: 15%;
}

.uarepro {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}

.inadminlog {
    margin: 20%;
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    text-decoration: underline;
    font-weight: 600;
    cursor:pointer; 
}
